In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [29]:
# Пример текстовых данных
documents = [
    "Машинное обучение - это интересная область.",
    "Обучение с учителем - ключевой аспект машинного обучения.",
    "Область NLP также связана с машинным обучением."
]

In [31]:
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(documents)
feature_names = tfidf_vectorizer.get_feature_names_out()
dense = tfidf_matrix.todense()
denselist = dense.tolist()

df = pd.DataFrame(denselist, columns = feature_names)
df

,nlp,аспект,интересная,ключевой,машинного,машинное,машинным,область,обучение,обучением,обучения,связана,также,учителем,это
0,0.000000,0.000000,0.490479,0.000000,0.000000,0.490479,0.000000,0.373022,0.373022,0.000000,0.000000,0.000000,0.000000,0.000000,0.490479
1,0.000000,0.423394,0.000000,0.423394,0.423394,0.000000,0.000000,0.000000,0.322002,0.000000,0.423394,0.000000,0.000000,0.423394,0.000000
2,0.423394,0.000000,0.000000,0.000000,0.000000,0.000000,0.423394,0.322002,0.000000,0.423394,0.000000,0.423394,0.423394,0.000000,0.000000

In [33]:
# Сортировка слов по значениям TF-IDF
sorted_keywords = [word for _, word in sorted(zip(tfidf_scores, feature_names), reverse=True)]

print("Ключевые слова:", sorted_keywords[:10])

Ключевые слова: ['также', 'связана', 'обучением', 'машинным', 'nlp', 'область', 'это', 'учителем', 'обучения', 'обучение']

In [16]:
feature_names

array(['nlp', 'аспект', 'интересная', 'ключевой', 'машинного', 'машинное',
       'машинным', 'область', 'обучение', 'обучением', 'обучения',
       'связана', 'также', 'учителем', 'это'], dtype=object)

In [17]:
tfidf_scores

array([0.        , 0.        , 0.49047908, 0.        , 0.        ,
       0.49047908, 0.        , 0.37302199, 0.37302199, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.49047908])

In [18]:
tfidf_matrix.toarray()

array([[0.        , 0.        , 0.49047908, 0.        , 0.        ,
        0.49047908, 0.        , 0.37302199, 0.37302199, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.49047908],
       [0.        , 0.42339448, 0.        , 0.42339448, 0.42339448,
        0.        , 0.        , 0.        , 0.32200242, 0.        ,
        0.42339448, 0.        , 0.        , 0.42339448, 0.        ],
       [0.42339448, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.42339448, 0.32200242, 0.        , 0.42339448,
        0.        , 0.42339448, 0.42339448, 0.        , 0.        ]])

In [34]:
df = pd.DataFrame({'docId': [1,2,3], 
               'sent': ['This is the first sentence','This is the second sentence', 'This is the third sentence']})

In [38]:
df

   docId                         sent
0      1   This is the first sentence
1      2  This is the second sentence
2      3   This is the third sentence

In [36]:
v = TfidfVectorizer()
x = v.fit_transform(df['sent'])
x.toarray()

array([[0.64612892, 0.38161415, 0.        , 0.38161415, 0.38161415,
        0.        , 0.38161415],
       [0.        , 0.38161415, 0.64612892, 0.38161415, 0.38161415,
        0.        , 0.38161415],
       [0.        , 0.38161415, 0.        , 0.38161415, 0.38161415,
        0.64612892, 0.38161415]])

In [37]:
v.get_feature_names()

C:\Users\seismopro\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['first', 'is', 'second', 'sentence', 'the', 'third', 'this']

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Пример текстовых данных
documents = [
    "Искусственный интеллект становится все более распространенным.",
    "Интеллектуальные системы обладают большим потенциалом."
]

# Создание объекта TfidfVectorizer с использованием биграмм
tfidf_vectorizer = TfidfVectorizer(ngram_range=(1, 2))

# Применение TF-IDF к текстовым данным
tfidf_matrix = tfidf_vectorizer.fit_transform(documents)

# Получение списка фичей и их значения TF-IDF для первого документа
feature_names = tfidf_vectorizer.get_feature_names_out()
tfidf_scores = tfidf_matrix.toarray()[0]

# Сортировка фичей по значениям TF-IDF
sorted_features = [feature for _, feature in sorted(zip(tfidf_scores, feature_names), reverse=True)]

print("Важные фичи:", sorted_features)